
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body{
  font-family: "Raleway";
  margin: 0;
}

nav{
  font-weight: 600px;
  font-size: 30px;
  text-align: center;
  word-spacing: 100px;
  color:blue;
  background-color: black;
  padding:50px;
}
nav strong{
  color: white;
}
nav a{
  text-decoration: none;
  text-transform:capitalize;
  color: blue;
}
nav a:hover{
  color:white;
